.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem 2rem;
    color: rgb(0, 0, 0);
    z-index: 10;
    margin-top: -1.5vh;
}

.header .logo {
        font-family:"Poppins", sans-serif;
        color : #000000;
        font-weight: 700;
        line-height: 1.25;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        font-style: normal; ;
        font-size: 1.5rem;
        display: flex;
    text-wrap: nowrap;;}

.header .logo a{color : #000000;
text-decoration: none; 
font-style: normal; ;
font-size: 1.5rem;
display: flex;
text-wrap: nowrap;}

.header .logo a:hover{color: #32aa27;
text-decoration: underline;}

.header .navbar a {font-family:"Poppins", sans-serif;
    color: #32aa27;
    margin-right: 30px;
    transition: color 0.3s;
    margin-top:-10px;
    text-decoration : none }

.navbar{
    width: 100vw;
    height: 1vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 11;}
 #home{
    margin-left:73vw ;
 }

.header .navbar a:hover {color: #000000;
                        text-decoration: underline;
                        font-weight: bold;
                        font-size:18px;}

.car-listing {
    display:flex;
    flex-direction:column;
    gap: 20px;
    /* flex-wrap: wrap; */
    padding: 20px;
}
.row1{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    
}
.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.row3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.row4{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.row5{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.car {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.car img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.car-details {
    padding: 15px;
}
.car h3 {
    margin: 0 0 10px;
}
.car p {
    margin: 5px 0;
}
.car .price {
    font-weight: bold;
    color: #555;
}
/* Footer Styles */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    display:flex
}

/* hover */

.car-listing {
    display: flex;
    gap: 10px;
    padding: 20px;
    border: 2px solid #ddd;
    transition: background-color 0.3s;
    }
.car-listing{
    background-color: #e4dbdb;
    }

.car{
    flex: 1;
    text-align: center;
    padding: 20px;
    background-color: white;
    border: 1px solid white;
    transition: transform 0.3s, background-color 0.3s;
    }
.car:hover {
    transform: scale(1.1);
    background-color: white;
    cursor: pointer;
    }

.run{
    height:800px;
    width:100px;
    }

.logo {
    width: 100vw;
}

.logo img{
    height:10vh;
    width:100vw;
}