* { margin: 0;
    padding: 0;
    box-sizing: border-box;}

body {
    font-family:"Poppins", sans-serif;
    color: #4a4a4a;
    background:url(./all_videos/carmain.mp4);
    background-attachment: fixed}

.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem 2rem;
    color: rgb(0, 0, 0);
    z-index: 1000;}

.header .logo {
        font-family:"Poppins", sans-serif;
        color : #000000;
        font-weight: 700;
        line-height: 1.25;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        font-style: normal; ;
        font-size: 1.5rem;
        display: flex;
    text-wrap: nowrap;}

.header .logo a{color : #000000;
text-decoration: none;}

.header .logo a:hover{color: #32aa27;
text-decoration: underline;}

.header .navbar a {
    color: #32aa27;
    margin-right: 2vw;
    transition: color 0.3s;
    margin-top:-10px;
    text-decoration : none }

.navbar{
    width: 100vw;
    height: 1vh;
    display: flex;}

#home{
    margin-left: 51vw;}

.header .navbar a:hover {color: #000000;
                        text-decoration: underline;
                        font-weight: bold;
                        font-size:18px;}
                        

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-top: -4vh;}

#background-video {object-fit: cover; width: 100%;height: 100%;}

.hero {text-align: center;
    padding: 4rem 2rem;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    text-transform: none;
    font-style: normal;
    margin-bottom: 10px;
    text-shadow: 0px 5px 5px #020402 ;}

.hero h1 {
    font-size: 3.8rem;
    font-weight: 700;}

.hero p {
    font-size: 1.5rem;
    font-weight: 400;}

.products{width: auto;
    height: 220vh;
    background-color: #fffcfc;
    margin-top: 27.8vw;}

.piro{display:flex;
    flex-direction: row;
    margin: 1vw;
    padding: 1vw;}

.pro{font-family:"Poppins", sans-serif;
    font-size: 24px;
    color: #32aa27;
    font-weight:600;
    margin-top:9vh;
    margin-left:8vw;}

.par{margin-left: 8vw; 
    margin-right:2vw;
    font-family:"Poppins", sans-serif;}

.im{margin-right: 7vw;
    margin-top: 10vh;}
#imag img{
    margin-right:0px;
    margin-left:5vw;
    height:50vh}

#para{
    margin-left: -3vw;}

#prof{margin-left: -3vw;}

#prof a { color: #32aa27;}

#prof a:hover { transition: color 0.3s;
                color: #005919;
                font-weight: bold;
                font-size:25px;}

#profes a { color: #32aa27;}

#profes a:hover { transition: color 0.3s;
                color: #005919;
                font-weight: bold;
                font-size:25px;}

#profe a { color: #32aa27;}

#profe a:hover { transition: color 0.3s;
                color: #005919;
                font-weight: bold;
                font-size:25px;}
                

.evolu{height: 100vh;
    width: 100vw;
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 8vw;
    padding-right: 8vw;
}

.fasevo{
    display: flex;flex-direction:column;justify-content: center;align-items: center;
}
.fasevo:hover{
    .fasevovid video{
        height: 74vh;
        transition: 0.2s ease-in;
    }
    .fasevotxt{
        width: 23.3vw;
        transition: 0.2s ease-in;
    }
    .fasevotxt h3{
        color: #32aa27;
    }
}
.fasevovid video{
    height: 70vh;
}
.fasevotxt{
    background-color: white;
    margin-top: -10px;
    width: 22vw;
    padding: 10px;
}
.fasevotxt h3{
    color:black;
}
.about {
    padding: 3rem 2rem;
    background-color: #ffffff;
    text-align: center;}

.about h2 {
    font-size: 2.5rem;
    color: #32aa27;
    margin-bottom: 1rem;}


.footer {
    text-align: center;
    padding: 1rem;
    background-color: #32aa27;
    color: white;
    margin-top: 2rem;}
