* { margin: 0;
    padding: 0;
    box-sizing: border-box;}

body {
    font-family: 'Georgia', serif;
    line-height: 1.6;
    color: #4a4a4a;
    background:url(./all_videos/car_main.mp4)
    no-repeat center/cover;
    background-attachment: fixed}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem 2rem;
    color: rgb(0, 0, 0);}

.header .logo {
        font-family:"Poppins", sans-serif;
        font-size: 1.65rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.25;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        color: #020402;
        text-decoration: none;
        font-style: normal; ;
        font-size: 1.5rem;}

.header .navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 1rem;
    transition: color 0.3s;}

.header .navbar a:hover {color: #32aa27;
                        text-decoration: underline;
                        font-weight: bold;}
                        

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-top: -28px;}

#background-video {object-fit: cover; width: 100%;height: 100%;}

.hero {
    text-align: center;
    padding: 4rem 2rem;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    text-transform: none;
    line-height: 1.25;
    font-style: normal;
    margin-bottom: 10px;}

.hero h1 {
    font-size: 3.8rem;
    font-weight: 700;}

.hero p {
    font-size: 1.5rem;
    font-weight: 400;}

.about {
    padding: 3rem 2rem;
    background-color: #ffffff;
    text-align: center;}

.about h2 {
    font-size: 2.5rem;
    color: #8b4513;
    margin-bottom: 1rem;}


.gallery {
    padding: 3rem 2rem;
    background-color: #ffffff;
    text-align: center;
margin-top: 42vh;}

.gallery h2 {
    font-size: 2.5rem;
    color: #8b4513;
    margin-bottom: 1rem;}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;}

.gallery-grid img {
    width: 100%;
    border: 5px solid #8b4513;
    border-radius: 10px;
    transition: transform 0.3s;}

.gallery-grid img:hover {
    transform: scale(1.05);}


.footer {
    text-align: center;
    padding: 1rem;
    background-color: #8b4513;
    color: white;
    margin-top: 2rem;}